<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container">
    <!-- Text Logo - Use this if you don't have a graphic logo -->
    <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Tivo</a> -->

    <!-- Image Logo -->
    <a class="navbar-brand logo-image" href="/"
      ><img src="images/logo2.png" alt="alternative"
    /></a>

    <!-- Mobile Menu Toggle Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-awesome fas fa-bars"></span>
      <span class="navbar-toggler-awesome fas fa-times"></span>
    </button>
    <!-- end of mobile menu toggle button -->

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#header"
            >Trang chủ <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#about">GIỚI THIỆU</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#features">SỨ MỆNH</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#details">TUYỂN DỤNG</a>
        </li>

        <!-- Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link page-scroll" href="#video" id="navbarDropdown"
            >VIDEO</a
          >
        </li>
        <!-- end of dropdown menu -->
      </ul>
      <span class="nav-item">
        <a id="btnsign" class="btn-outline-sm" href="/auth"> ĐĂNG NHẬP</a>
      </span>
    </div>
  </div>
  <!-- end of container -->
</nav>
<!-- end of navbar -->
<!-- end of navigation -->

<!-- Header -->
<header id="header" class="header">
  <div class="header-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xl-5">
          <div class="text-container">
            <h1 style="font-size: 50px;">
              Chào mừng bạn đến với SNM Technology
            </h1>
            <p class="p-large">
              SNM Technology tạo ra nguồn cảm hứng trên từng website
            </p>
            <a class="btn-solid-lg page-scroll" href="/auth/signup"
              >ĐĂNG KÍ TÀI KHOẢN</a
            >
          </div>
          <!-- end of text-container -->
        </div>
        <!-- end of col -->
        <div class="col-lg-6 col-xl-7">
          <div class="image-container">
            <div class="img-wrapper">
              <img
                class="img-fluid"
                src="images/header-software-app.png"
                alt="alternative"
              />
            </div>
            <!-- end of img-wrapper -->
          </div>
          <!-- end of image-container -->
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of container -->
  </div>
  <!-- end of header-content -->
</header>
<!-- end of header -->
